@import "./public/styles/utils/vars";

.experts {
  background: $main-light;
  box-shadow: 0 10px 40px rgba(128, 158, 191, 0.2);
  border-radius: 10px;
  padding-right: 50px;
  background-image: url(/icons/bread.svg);
  background-repeat: no-repeat;
  background-position: right 19px center;
  overflow: hidden;
  margin-bottom: 11px;
  width: 237px;

  &__select {
    height: 54px;
    border: none;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    padding: 16px 30px 16px 20px;
    background-image: url(/icons/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 23px center;
    width: 177px;
    cursor: pointer;

  }
}


