
@import "./public/styles/utils/mixins";

.body {
  @include text-style;
  font-size: 13px;
  background: #f0f6fc;
  position: relative;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 0 100px 100px;

  @media (max-width: 1900px) {
    max-width: 1200px;
    padding: 0 20px 100px;
    margin-left: 270px;
  }
}

.main {
  width: 100%;
  position: relative;
}

.flex-container {
  @include flex (space-between, flex-start, wrap);
}

.loader {
  display: block;
  text-align: center;
  & img {
    width: 60px;
    height: 60px;
  }
}
