@import "./public/styles/utils/vars";

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 38px;
  background: #f0f6fc;
}

.tool-bar {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item {
    display: inline-block;
    background: #fff;
    border-radius: 22px;
    box-shadow: 0 10px 40px rgba(213, 221, 230, 0.6);
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 17px;
    }
  }
}

.logo {
  &__text {
    color: $text-dark;
    text-decoration: none;
    display: inline-block;
    padding-left: 9px;
  }
}

.search,
.message {
  padding: 12px;
  font-size: 0;
  width: 44px;
  height: 44px;
  background-position: center center;
  background-repeat: no-repeat;
}

.message {
  background-image: url("/test-brighta-user-calendar/icons/bell.svg");
  background-position: center center;
}

.search {
  background-image: url("/test-brighta-user-calendar/icons/search.svg");
  background-position: center center;
}

.user,
.language {
  padding: 12px 26px;
  padding-right: 44px;
  background-image: url("/test-brighta-user-calendar/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.language,
.search {
  background-color: $secondary-bg;
}
